.paragraph-section-p-tb-lg {
	padding: 80px 0;
}
.paragraph-section-p-tb-md {
	padding: 70px 0;
}
.paragraph-section-p-tb-sm {
	padding: 50px 0;
}
.bg-grey-light {
	background: #f7fafc;
}
.bg-grey-light-1 {
	background: #f2f2f2;
}
.bg-grey-light-2 {
	background: #ddd;
}
.bg-grey-light-3 {
	background: #5a5a5a;
}
.bg-grey-light-4 {
	background: #6c6d74;
}
.bg-grey-light-5 {
	background: #e5e5e5;
}
