//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.paragraph--type--text-and-image {
  .field {
    &--name-field-title {
      @extend %h2;
      font-family: $heading-font;
    }
    &--name-field-body {
      @include respond(phone-min) {
        font-size: 16px;
        margin-bottom: 30px;
      }
    }
    &--name-field-link {
      margin-top: 20px;
      a {
        @include btnstyle;
      }
    }
  }
}
