//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.paragraph--type--text {
  > .field {
    &--name-field-title {
      @extend %h2;
      margin-bottom: 20px;
      font-family: $heading-font;
      text-align: center;
      color: #5a5a5a;
      @include respond(phone-min) {
        margin-bottom: 30px;
      }
    }
    &--name-field-body {
      @include respond(phone-min) {
        font-size: 16px;
        margin-bottom: 30px;
      }
    }
  }
}
